<app-header></app-header>
<h1 style="margin-top: 10%; color: blue;"><u>About</u></h1>

<BR>
    <BR>
        <H2 style="color: wheat;">Provides oppurtunity to review the cosmetics products which ranges millions ofchoices</H2>
        <h5 style="color: white;">Are you looking for a platform to compare the products,to find what others think about these,also to share what you think about some products</h5>
        <h5 style="color: white;">look onto the 'BEAUTY SPOT'</h5>
        <h5 style="color: white;">Provide us with your feedbacks and reviews too</h5>
    

        
        <!-- images -->
        <div class="card-group">
            <div class="card">
              <img src="assets/img/a.jpg" class="card-img-top" alt="...">
            
            </div>
            <div class="card">
              <img src="assets/img/b.jpg" class="card-img-top" alt="...">
          
            </div>
            <div class="card">
              <img src="assets/img/c.jpeg" class="card-img-top" alt="...">
           
              
            </div>
          </div>

          <app-footer></app-footer>